otls/backup/
hip/uv_world_aligned_reorient/backup/
hip/uv_world_aligned_reorient/geo/
hip/vfx_smoke_PDG_wedge_01/geo/
hip/vfx_smoke_PDG_wedge_01/pdgtemp/
hip/vfx_smoke_PDG_wedge_01/backup/
hip/vfx_smoke_PDG_wedge_01/render/
hip/vfx_liquid_explode_01/backup/
hip/vfx_liquid_explode_01/geo/
hip/vfx_liquid_explode_01/pdgtemp/
*.mp4
*.fbx
*.exr
*.mantra_checkpoint
hip/rock_strata_fracture_cliff/backup/
hip/rock_strata_fracture_cliff/geo/
hip/tree_root_spiral_uv/backup/
hip/rock_strata_fracture_cliff/export/
hip/pivotpainter_wings_01/backup/
hip/vfx_liquid_explode_01/export/
*/pdgtemp/
*/backup/
*/render/
hip/rock_strata_fracture_cliff/render/
hip/vfx_liquid_explode_01/render/
hip/helix_along_curve/backup/
icon/Thumbs.db
hip/vfx_smoke_collide_PDG_01/backup/
hip/vfx_smoke_collide_PDG_01/geo/
hip/vfx_smoke_collide_PDG_01/pdgtemp/
hip/vfx_smoke_collide_PDG_01/render/
