**/pdgtemp/**
**/backup/**
**/render/**
**/geo/**
**/export/**
**/pdg/**
**/ref/**
*Thumbs.db
*.fbx
*.exr
*.mantra_checkpoint
*00_BATCH_JPG_SIZE.bat
*00_BATCH_PNG_TO_JPG.bat
*00_png_delete.bat
**/textures/**
**/hip/images/**
*credentials.json
**/python/zenv/**
**/python/output/**
*SNAPMAP_MODULE_LIST_*.txt
*PATH_TOPs_SET.txt
*HOUDINI_PATH_TOPs_CREATE_SET.bat